/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.parent{
	-fx-background-color: #303138;
}

.txtfield{
	-fx-background-color: #3B4148;
	-fx-background-radius: 0px;
	-fx-prompt-text-fill: #ADADAD;
	-fx-text-fill: #ADADAD;
	-fx-font-size: 14px;
}


.txtfield:focused{
	-fx-background-color: #363b41;
	-fx-background-radius: 0px;
	-fx-prompt-text-fill: #ADADAD;
	-fx-font-size: 14px;
}

Button{
	-fx-background-color: #EA4C88;
	-fx-text-fill: #ADADAD;
	-fx-font-size: 14px;
}

Button:hover{
	-fx-background-color: #af3d68;
	-fx-text-fill: #ADADAD;
	-fx-font-size: 14px;
}

.choiceBox{
	-fx-text-fill: #FFFFFF;
	-fx-background-color: #3B4148;
	-fx-mark-color: #3B4148;
	-fx-font-size: 14px;
}

.choice-box > .label { -fx-text-fill: #ADADAD }