.circleindicator-container  {	
	circleindicator-color: #af3d68;
	-fx-padding: 5.0;
	-fx-background-color:transparent;
}
.circleindicator-container > .circleindicator-label {
	-fx-font-weight: bold; 
 	-fx-font-size: 20px;
	-fx-text-fill: circleindicator-color;
	-fx-padding: 5.0;
}