/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {

}

Button {
	-fx-background-color:transparent;
	-fx-border-color: #0e99d5
	-fx-border-width: 2;
	-fx-border-radius: 25px;
}